.test {
    z-index: 10;
    position: fixed;
    background-color: white;
    /* top: -13px; */
    /* height: 50px; */
    width: 100%;
  }

  .box {
    padding: 25px;
    /* background: #BE1F2E; */
    text-align: center;
    /* margin-bottom: 10px; */
    position: relative;
    color: black;
  }

  .box p {
    text-align: left;
    margin-bottom: 0px;
  }

  .display-5 {
    font-size: 1.25rem;
    font-weight: 300;
    line-height: 2;
    /* color: #999999; */
  }

  .team-font-fix {
    font-size: 1.5rem;
    margin-top: 1rem;
  }

  .team-font-fix span {
    color:#c84319 !important;
  }

  .team-name-color {
    color:#c84319 !important;
  }

  .tab-panel-font-fix {
    font-size: 1.4rem;
    margin-top: 1rem;
    text-align: left !important;
  }

  /* .carousel-caption {
    bottom: 40vh !important;
  } */

  .carousel-caption h1{
    color: #ffff00 !important;
    font-family: 'Merriweather', serif;
    font-weight: lighter;
  }

  #portfolio li {
    list-style: none;
    /* display: inline-block; */
    padding: 0.5em;
    font-size: 1em;
    cursor: pointer;
  }

  #portfolio ul {
    text-align: left;
    margin-left: 0;
    padding-left: 0;
  }

  .carousel-item img {
    /* max-height: 95vh; */
    height: 100%;
    width: 100%;
    /* max-width: 100vw; */
  }

  .nav-item .nav-link {
    color: white !important;
    /* text-shadow: 1px 1px #808080; */
    /* color: black !important; */
    font-size: 0.9em;
  }

  .navbar-light .navbar-nav .active>.nav-link,
  .navbar-light .navbar-nav .nav-link.active,
  .navbar-light .navbar-nav .nav-link.show,
  .navbar-light .navbar-nav .show>.nav-link {
    color: #a21f00 !important;
    /* color: #000 !important; */
    /* text-decoration: underline; */
  }

  .navbar-default {
    transition: 750ms ease;
    /* background: rgba(255, 255, 255, 0.4); */
  }

  .navbar-default.scrolled {
    background: #384750;
  }

  .team-images {
    height: 225px !important;
    width: 225px;
  }

  .tab-icon-images {
    height: 150px !important;
    width: 150px;
  }

  .slider1 {
    left: 2% !important;
    text-align: left !important;
  }
  
  .slider1 h1 {
    font-size: 4em;
    
  }

  .slider1 h1 span {
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .slider2 {
    right: 2% !important;
    text-align: right !important;
  }
  
  .slider2 h1 {
    font-size: 4em;
    
  }

  .slider2 h1 span {
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .slider3 {
    right: -25% !important;
    bottom: 35% !important;
  }
  
  .slider3 h1 {
    font-size: 4em;
    
  }
  
  .slider3 h1 span {
    background-color: rgba(0, 0, 0, 0.5);
  }

  .slider4 h1 {
    font-size: 4em;
    
  }
  
  .slider4 h1 span {
    background-color: rgba(0, 0, 0, 0.5);
  }

  .slider5 {
    right: -30% !important;
  }

  .slider5 h1 {
    font-size: 4em;
    
  }

  .slider5 h1 span {
    background-color: rgba(0, 0, 0, 0.5);
  }

  @media (max-width: 768px) {
    .about-image {
      /* position: relative; */
      top:-13% !important;
    }

    .collab-image {
      top:0% !important;
    }

    .jamming-image {
      top:-15% !important;
    }
    
    .slider1 {
      padding-bottom: 10px !important;
    }

    .slider2 {
      padding-bottom: 10px !important;
    }

    .slider3 {
      padding-bottom: 10px !important;
    }

    .slider4 {
      padding-bottom: 10px !important;
    }

    .slider5 {
      padding-bottom: 10px !important;
    }

    .slider1 h1 {
      font-size: 2em;
    }

    .slider2 h1 {
      font-size: 2em;
    }

    .slider3 h1 {
      font-size: 2em;
    }

    .slider4 h1 {
      font-size: 2em;
    }

    .slider5 h1 {
      font-size: 2em;
    }

    .scope-tabs {
      margin-top: 0 !important;
    }
  }

  @media (max-width: 576px) {
    .about-image {
      /* position: relative; */
      top:-22% !important;
    }

    .collab-image {
      top:-19% !important;
    }

    .jamming-image {
      top:-30% !important;
    }

    .slider1 {
      padding-bottom: 0px !important;
    }

    .slider2 {
      padding-bottom: 0px !important;
    }

    .slider3 {
      padding-bottom: 0px !important;
    }

    .slider4 {
      padding-bottom: 0px !important;
    }

    .slider5 {
      padding-bottom: 0px !important;
    }

    .slider1 h1 {
      font-size: 1em !important;
    }

    .slider2 h1 {
      font-size: 1em !important;
    }

    .slider3 h1 {
      font-size: 1em !important;
    }

    .slider4 h1 {
      font-size: 1em !important;
    }

    .slider5 h1 {
      font-size: 1em !important;
    }

    .hide-item {
      display: none;
    }

    .xsmall-device-tab-margin {
      margin-top: 1em;
    }

    .scope-tabs {
      margin-top: 0px !important;
    }
  }

  .nav-tabs .nav-item.show .nav-link,
  .nav-tabs .nav-link {
    /* background-color: #586a75 !important; */
    /* background-color: transparent !important; */
    /* border: none !important; */
    /* margin: 1%; */
  }
  .nav-tabs .nav-item.show .nav-link,
  .nav-tabs .nav-link.active {
    /* background-color: #586a75 !important; */
    /* background-color: transparent !important; */
    border: none !important;
  }

  .nav-tabs .nav-item.show .nav-link,
  .nav-tabs .nav-link:hover {
    /* background-color: transparent */
    border: none !important;
  }

  .nav-tabs {
    border-bottom: none !important;
  }

  .scope-tabs {
    flex-direction: column !important;
    font-size: 1.2em;
    margin-top: 41%;
  }

  @media (max-width: 992px) {
    #portfolio li {
      display: inline-block;
    }

    .scope-tabs {
      flex-direction: row !important;
    }
  }

  .bg-tab-1 {
    background-image: url('../img/tab-1.PNG');
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    background-position: center;
    background-size: cover;
    /* background-color: #212121; */
    /* height: 100vh; */
  }

  .bg-tab-2 {
    background-image: url('../img/tab-2.PNG');
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    background-position: center;
    background-size: cover;
    /* background-color: #212121; */
    /* height: 100vh; */
  }

  .bg-tab-3 {
    background-image: url('../img/tab-3.png');
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    background-position: center;
    background-size: cover;
    /* background-color: #212121; */
    /* height: 100vh; */
  }

  .bg-tab-4 {
    background-image: url('../img/tab-4.png');
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    background-position: center;
    background-size: cover;
    /* background-color: #212121; */
    /* height: 100vh; */
  }

  .bg-tab-5 {
    background-image: url('../img/tab-5.png');
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    background-position: center;
    background-size: cover;
    /* background-color: #212121; */
    /* height: 100vh; */
  }

  .bg-tab-6 {
    background-image: url('../img/tab-6.png');
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    background-position: center;
    background-size: cover;
    /* background-color: #212121; */
    /* height: 100vh; */
  }

  .design-bg {
    background-image: url('../img/collab-bg.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    /* height: 100vh; */
  }

  div>div.col-sm-6.col-xs-12.text-center.xsmall-device-tab-margin>h3>small {
    font-size: 70% !important;
    line-height: 2;
    letter-spacing: 0.1em;
  }

  .color-white {
    color: white !important;
  }

  .color-black {
    color: black !important;
  }

  .color-header-gray {
    color: #66657a !important;
  }

  .text-stress {
    font-size:1.3em;
  }

  .section-bg-yellow {
    background-color: #f0e700 !important;
  }

  .about-image {
    height:100%;
    width:100%;
    position: relative;
    top:-32%;
  }

  .collab-image {
    height:100%;
    width:100%;
    position: relative;
    top:-24%;
  }

  .jamming-image {
    height:100%;
    width:100%;
    position: relative;
    top:-30%;
  }

  .circle::before {
    background-color: white;
    border-radius:50%;
    height: 200px;
    width:200px;
  }

  .collab-icons {
    height: 120px !important;
    width: 120px;
  }

  /* For GSAP Animation */

  /* .img-tab-1 {
    display: none;
  } */

  .team-images {
      transition: all 0.3s ease-out;
  }

  .team-images:hover {
    -webkit-box-shadow: 7px 10px 20px 0px rgba(153,145,153,1);
    -moz-box-shadow: 7px 10px 20px 0px rgba(153,145,153,1);
    box-shadow: 7px 10px 20px 0px rgba(153,145,153,1);
    transform: translateY(-4px);
  }

  /* Portfolio Section Fix */

  /* #portfolio {
    height: 115vh;
  } */
  /* test animation */

  .come-in {
    transform: translateX(-200px);
    animation: come-in 1.5s ease forwards;
  }
  .come-in:nth-child(odd) {
    animation-duration: 0.8s;
  }
  .already-visible {
    transform: translateX(0);
    animation: none;
  }
  
  @keyframes come-in {
    to { transform: translateX(0); }
  }